${SERVICE_NAME} : le nom du service Cloud Run (souvent le nom de ton app)

${DOCKER_USERNAME}/${API_IMAGE} : ton Docker Hub user et nom d'image

${VERSION} : le tag version du build

${DB_HOST} etc : seront remplacés automatiquement par le pipeline CI/CD

${GCP_SA_EMAIL} : email de ton Service Account GCP

${LOKI_HOST} : adresse de Loki sur ta stack